<!DOCTYPE html>
<html>

<head>
  <title>Nepal Tours</title>
  <link rel="shortcut icon" href="images/logo1.ico" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">
</head>

<body>

  <img id="logo" src="/images/logo.png"></img>
  <text id="text">Explore the beauty of Nepal</text>
  <div id="button">
    <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/hotels"
        class="btn btn-sm animated-button victoria-three">Explore</a>
    </div>
  </div>
  <video id="videoBG" poster="/images/poster.png" autoplay muted loop>
    <source src="/images/video.mp4" type="video/mp4">
  </video>
</body>

</html>